* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1A0B2E;
  color: white;
}

/*navigation bar*/

.navbar {
  background: #1A0B2E;
  padding: 1rem 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;  
}

#logo-color{  
  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.btn-arrow {
  background: linear-gradient(to right bottom , #F7E93F, #FB09B4, #9100F8);
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
}

.btn-arrow::after {
  content: "→";
  margin-left: 8px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}


#menu-toggle {
    display: none;
}

/*footer*/

.footer {
  background: url("images/footer-bg.png") center/cover no-repeat;
  padding: 2.5rem;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 800;  
  margin-bottom: 1.5rem;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-icons a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}

.footer-icons img {
  width: 18px;
  height: 18px;  
}

.footer-copy {
  font-size: 0.9rem;
  color: #FAFAFA;
}

/*HERO*/

.hero {
  min-height: 100vh;
  background: url("images/hero-bg.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  max-width: 700px;
  color: #FFFFFF;
}

.mic {
  position: relative;
  width: 340px;
  height: 340px;
  margin: auto;
}

.mic-bg {
  width: 100%;
}

.mic-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
}


.badge {
  position: absolute;
  top: 35px;
  right: 20px;
  background: #00FF88;
  color: #1A0B2E;
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  margin: 1.2rem 0;
}

.subtitle {
  color: #FFFFFF;
  font-size: 1rem;
}

.hero-buttons a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hero-buttons img {
  width: 16px;
  height: 16px;
}

.hero-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-spotify {
  background: linear-gradient(to right bottom , #F7E93F, #FB09B4, #9100F8);
  padding: 12px 22px;
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

.btn-sub {
  border: 1px solid #00FF88;
  color: #00FF88;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
}

/* ===== MOBILE RESPONSIVE ===== */

@media (max-width: 576px) {
  .nav-menu {
    display: none;
    flex-direction: column;
  }
  .btn-arrow{
    display: none;
  }

  #menu-toggle:checked + .hamburger + .nav-menu {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .footer-title {
    font-size: 2.2rem;
  }

  .footer-icons img {
    width: 20px;
  }

  .footer-icons {
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
  }

  .footer {
    background: url("images/footer-bg.png") center/cover no-repeat;
    padding: 0.5rem;
  }

  .title {
   font-size: 2rem;
  }

  .hero {
   padding: 0.5rem;
  }

  .mic {
   width: 200px;
   height: 200px;
  }

  .mic-icon {
   width: 50px;
  }

  .badge {
   position: absolute;
   top: 12px;
   right: 7px;
  }
  
}